.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background: #f0f2f5;
}


.box {
    width: 400px;
    min-height: 350px;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4pxrgba(0, 0, 0, .1), 0 8px 16pxrgba(0, 0, 0, .1);
    box-sizing: border-box;
    padding: 18px;
}

.input {
    font-size: 17px;
    padding: 14px 16px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    color: #1d2129;
    font-family: Helvetica, Arial, sans-serif;
    height: 52px;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.button-login {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 100%;
    color: white;
    font-weight: bold;
    margin-bottom: 16px;
}

.box-link {
    display: flex;
    justify-content: center;
}

.link-forgot {
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
}

.button-new {
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    background-color: #42b72a;
    color: white;
    font-weight: bold;
}

.box-new {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.divider {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}
